extends layout

block content
    h1 TTC Microblog!

    div#initialContent(style="display:none")
        = Microblogs

    div.app

    script(id="blogListItemTemplate", type="text/x-handlebars")
        <a href="#" class="blog-link">{{name}}</a>

    script(id="blogDetailTemplate", type="text/x-handlebars")
        <h2 class ="title">{{name}}</h2>
        <form enctype="multipart/form-data">
        <textarea class="entry-text" placeholder="Compose a new entry..."></textarea>
        <input type="file" class="entry-image">
        <button class="post-entry">Submit</button>
        </form>

    script(id="entryListItemTemplate", type="text/x-handlebars")
        <img src={{image}} alt="image">
        <span>{{text}}</span>
        <button type="button" class="delete-entry">Delete</button>

